# This file defines the code owners for this repository.
# For more information, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Mae'r ffeil hon yn diffinio perchnogion y cod ar gyfer y storfa hon.
# Am ragor o wybodaeth, gweler https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Example/ Enghraifft: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

*       @Public-Health-Wales/RDDD_DST
